<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"><html>
<title>Directory listing for /ctfd2/CTFd/themes/core/templates/</title>
<body>
<h2>Directory listing for /ctfd2/CTFd/themes/core/templates/</h2>
<hr>
<ul>
<li><a href="base.html">base.html</a>
<li><a href="challenges.html">challenges.html</a>
<li><a href="confirm.html">confirm.html</a>
<li><a href="errors/">errors/</a>
<li><a href="login.html">login.html</a>
<li><a href="page.html">page.html</a>
<li><a href="profile.html">profile.html</a>
<li><a href="register.html">register.html</a>
<li><a href="reset_password.html">reset_password.html</a>
<li><a href="scoreboard.html">scoreboard.html</a>
<li><a href="setup.html">setup.html</a>
<li><a href="team.html">team.html</a>
<li><a href="teams.html">teams.html</a>
</ul>
<hr>
</body>
</html>
